body {
  margin: 0;
  font-family: "PT Serif", serif;
  background: #333333; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #401722, #333333);
  background: linear-gradient(to right, #401722, #333333);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p,
button,
span {
  font-family: "PT Sans", sans-serif;
}

h1 {
  font-size: 32px;
  margin: auto;
  margin-bottom: 40px;
  color: #0c0c0c;
}
