body {
  margin: 0;
  font-family: "PT Serif", serif;
  background: #333333; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #333333, #700d25);
  background: linear-gradient(to right, #333333, #700d25);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p,
button,
span {
  font-family: "PT Sans", sans-serif;
}

h1 {
  font-weight: 200;
  margin: auto;
  margin-bottom: 24px;
  color: #0c0c0c;
  font-family: "VT323", monospace;
  font-size: 40px;
  margin-top: 8px;
}

h2 {
  font-family: "VT323", monospace;
  font-size: 32px;
}
